[Unit]
Description=ComfyUI Service
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/comfy-linux
ExecStart=/usr/bin/python3 /home/ec2-user/comfy-linux/cpu/apps/comfy/comfy.py
Restart=always

[Install]
WantedBy=multi-user.target
