[Unit]
Description=S3 Uploader Service
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/comfy-linux
ExecStart=/bin/bash -c 'source myenv/bin/activate; python cpu/apps/comfy/s3_uploader.py'
Restart=always

[Install]
WantedBy=multi-user.target
