[Unit]
Description=SQS Poller Service
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/comfy-linux
ExecStart=python /home/ec2-user/comfy-linux/cpu/apps/comfy/sqs_poller.py
Restart=always

[Install]
WantedBy=multi-user.target

